/* Css reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utils */
.flex{
    display: flex;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.sec_3_container{
    max-width: 800px;
    margin: 0 auto;
}

/* Generics */
header{
    background-image: url("../img/jumbo.png");
    color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header h1{
    padding: 20px 0;
}

h2{
    padding-bottom: 20px;
    font-size: 2rem;
    font-weight: 900;
}

a{
    text-decoration: none;
    color: white;
}

img{
    height: 100%;
}

footer{
    background-color: #23272A;
    color: white;
}

li{
    list-style-type: none;
    padding: 6px 0;
}

/* Header */
.top_header{
    justify-content: space-between;
    align-items: center;
}

.top_header > *{
    padding: 10px;
}

.logo{
    flex-basis: 20%;
}

.nav_bar{
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.login{
    flex-basis: 20%;
    text-align: right;
}

.spotlight{
    padding: 50px 0;
    max-width: 30%;
    margin: 0 auto;
    text-align: center;
}

.spotlight_buttons{
    padding: 20px 0;
    justify-content: space-around;
}

/* Main */
.row_white{
    background-color: white;
    padding: 50px 0;
}

.row_gray{
    background-color: #F6F6F6;
    padding: 50px 0;
}

.row_section{
    align-items: center;
}

.row_big_section{
    text-align: center;
    padding-bottom: 30px;
}

.sec_large{
    flex-basis: 70%;
}

.sec_small{
    flex-basis: 30%;
}

.row_big_section h3{
    padding: 20px 0;
}

.big_row_closer{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.wave_up{
    display: block;
    color: #F6F6F6;
}

.wave_down{
    display: block;
    color: #F6F6F6;
    transform: rotate(180deg);
}

/* Footer */
.top_footer{
    padding: 50px 0;
    border-bottom: 2px solid #879AD6;
    margin-bottom: 20px;
    align-items: baseline;
}

.social_footer{
    flex-basis: 30%;
}

.nav_footer{
    flex-basis: 70%;
}

.nav_f{
    flex-basis: 25%;
}

.bottom_footer{
    padding: 50px 0;
    justify-content: space-between;
}

.social_footer h2{
    font-size: 2rem;
    color: #758CE0;
}

.lang{
    align-items: center;
    gap: 0.5rem;
}

.flag_ita{
    height: 1rem;
}

.list_title{
    color: #758CE0;
    font-size: 1.2rem;
    font-weight: 900;
}

.it::after{
    content: "";
}

.fa-brands{
    padding: 20px 10px;
}

/* Buttons */
.btn{
    padding: 10px;
    border-radius: 20px;
}

.btn.mac_white{
    width: 180px;
    background-color: white;
    color: black;
}

.btn.mac_blue{
    width: 180px;
    background-color: #8EA1E1;
    color: white;
}

.btn.browser{
    width: 230px;
    background-color: black;
    color: white;
}

.btn.log_in{
    background-color: white;
    color: black;
}

.btn.sign_in{
    background-color: #879AD6;
    color: white;
}


















